body{
    /*background-color:#578796; */
    background:     radial-gradient(lightblue, gray);
    background:     gray;
    text-align:     center;
    
}

@font-face{
    font-family:    cursive;
    src:url("https://www.google.com/fonts/specimen/Cedarville+Cursive")
}

header{
    background:     black;
    opacity:        0.8;
    text-align:     center;
    font-size:      30px;
    color:          white;
    font-family:    cursive;
}

section{
    display:        block;
}

.letter p{
    width:          37%;
    word-wrap:      break-word;
    font-size:      2.5em;
}

.slideshow{
    padding-top:    30px;
}

.slides{
    display:        none;
    position:       relative;
    width:          50%;
    height:         50%;
    padding:        10px;
    border:         15px solid black;
    border-radius:  30px;
    opacity:        0.7;
}

.slides:hover{
    opacity:        1.0;
}
